# Peer checks are suppressed repo-wide. Known consequence (DE-002, PR #124):
# primeng 21.x declares peer @angular/* ^21 while this app runs Angular 22, so
# any primeng-21/Angular-22 API drift fails at build or runtime, never at
# install. Revisit at the next Angular major bump, or if primeng returns to
# 22.x under a PrimeUI licence.
legacy-peer-deps=true
